In [6]:
import boto3
import pandas as pd

s3 = boto3.client('s3')

In [68]:
obj = s3.get_object(Bucket='cs219hits', Key='cath_interfold_hits_all/part-r-00000-6c01d0a0-b605-4aac-b15c-6083a7748180.csv')
hits = pd.read_csv(obj['Body'], sep=",", escapechar='\\', header=None, names=["hit", "proteins"], encoding="CP437")

In [69]:
hits.head()

              hit                                           proteins
0  ┬▓┬▓ΓêÜΓêÜ┬▓┬▓                                  3pf8:A00,3s4l:A00
1  ΓêÜ┬▓ΓëêΓêÜΓê₧                1f89:A00,2wtm:A00,4qlo:A00,1j31:A00
2            ;X╧â                                  4dvg:B00,4ncd:A01
3         ╬⌐ΓûÆ┬╗                                  3oh3:A02,4x7r:A01
4         Γëê┬╜┬▒  2gfn:A00,2uv8:G08,3dwc:A00,4nh0:B01,3vnn:A00,1...

In [41]:
df = hits.loc[[1,4,6,7,7,560,569]]

In [42]:
df

       hit                                           proteins
1    √²≈√∞                1f89:A00,2wtm:A00,4qlo:A00,1j31:A00
4      ≈½±  2gfn:A00,2uv8:G08,3dwc:A00,4nh0:B01,3vnn:A00,1...
6    ≤√²√                                   2ywe:A01,4g56:B00
7      ú±E  4ud8:A03,3vte:A03,4pvk:A03,5d79:A03,1k3x:A01,3...
7      ú±E  4ud8:A03,3vte:A03,4pvk:A03,5d79:A03,1k3x:A01,3...
560    Iq,                1sbz:A00,2rgj:A02,4am6:A01,2ejb:A00
569    »⌡"       3cjh:I00,4tpu:A02,2pn5:A10,1ryq:A00,2apo:B00

In [58]:
df.loc[:, "N"] = df.hit.str.len()
df

       hit                                           proteins   N
1    √²≈√∞                1f89:A00,2wtm:A00,4qlo:A00,1j31:A00  14
4      ≈½±  2gfn:A00,2uv8:G08,3dwc:A00,4nh0:B01,3vnn:A00,1...   7
6    ≤√²√                                   2ywe:A01,4g56:B00  13
7      ú±E  4ud8:A03,3vte:A03,4pvk:A03,5d79:A03,1k3x:A01,3...   5
7      ú±E  4ud8:A03,3vte:A03,4pvk:A03,5d79:A03,1k3x:A01,3...   5
560    Iq,                1sbz:A00,2rgj:A02,4am6:A01,2ejb:A00   3
569    »⌡"       3cjh:I00,4tpu:A02,2pn5:A10,1ryq:A00,2apo:B00   6

In [64]:
df.loc[569].hit

'\xc2\xbb\xe2\x8c\xa1"'