In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("cath.csv", sep=";", names=["c","a","t","h", "pdb", "domain"])

In [13]:
df.head()

   c   a    t     h   pdb domain
0  3  30  930    10  12as    A00
1  1  10  530    10  132l    A00
2  1  10  530    10  153l    A00
3  1  10  760    10  155c    A00
4  3  40   50  1260  16pk    A02

In [17]:
df[["c","a","t"]].drop_duplicates().shape

(1389, 3)